<div class="chat-list-header">
    <nav>
        <div class="navigation-link-container">
            <a class="navigation-link" href="partials/profile-screen.hbs">Profile ></a>
        </div>
        <div class="navigation-link-container">
            <a class="navigation-link" href="partials/sign-up-screen.hbs">Sign Up ></a>
        </div>
        <div class="navigation-link-container">
            <a class="navigation-link" href="partials/sign-in-screen.hbs">Sign In ></a>
        </div>
        <div class="navigation-link-container">
            <a class="navigation-link" href="partials/500-error-screen.hbs">5** Error ></a>
        </div>
        <div class="navigation-link-container">
            <a class="navigation-link" href="partials/400-error-screen.hbs">404 Error ></a>
        </div>
    </nav>
    <input class="chat-list-header__searchbar" name="chat-searchbar" placeholder="Search">
</div>
