<div class="chat-list-header">
    <div class="chat-list-header__profile-link-container">
        <a class="chat-list-header__profile-link" href=".partials/profile-screen/profile-screen.hbs">Profile ></a>
    </div>
    <input class="chat-list-header__searchbar" name="chat-searchbar" placeholder="Search">
</div>
