<div class="profile-screen">
    <div class="profile-screen-content">
        <div class="profile-screen-content__avatar"></div>
        <div class="profile-screen-content__fields"></div>
        <div class="profile-screen-content__actions"></div>
    </div>
</div>
