.chat-list-header {
    display: flex;
    flex-direction: column;
    padding: 0 0 14px;
    &__searchbar {
        height: 32px;
        background-color: var(--second-background-color);
        border-radius: 5px;
        border: 0;
        text-align: center;
    }
}
