.error-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--main-background-color);
    &__title {
        color: var(--text-color);
        text-decoration: none;
    }
    &__picture {
        max-width: 300px;
    }
}
