@import "../components/ChatCard/chat-card.pcss";
@import "./variables.pcss";
@import "./container.pcss";
@import "../components/ChatList/chat-list.pcss";
@import "../components/ChatListHeader/chat-list-header.pcss";
@import "../components/LeftPanelArea/left-panel-area.pcss";
@import "../components/ChatArea/chat-area.pcss";
@import "../pages/MainPage/main-screen.pcss";
@import "../pages/ProfilePage/profile-screen-styles/profile-screen.pcss";
@import "../pages/ProfilePage/profile-screen-styles/profile-screen-content.pcss";
@import "../pages/SignUpPage/sign-up-screen-styles/sign-up-screen.pcss";
@import "../pages/SignUpPage/sign-up-screen-styles/sign-up-screen-content.pcss";
@import "./error-screen.pcss";
@import "navigation/navigation-link.pcss";
@import "navigation/navigation-link-container.pcss";
@import "./fields.pcss";
@import "../components/Action/actions.pcss";
@import "./fields-wrapper.pcss";

body {
    margin: 0;
}
