@import "./chat-card.pcss";
@import "./variables.pcss";
@import "./container.pcss";
@import "./chat-list.pcss";
@import "./chat-list-header.pcss";
@import "./left-panel-area.pcss";
@import "./chat-area.pcss";
@import "./main-screen.pcss";
@import "./profile-screen.pcss";
@import "./profile-screen-content.pcss";
@import "./sign-up-screen.pcss";
@import "./sign-up-screen-content.pcss";
@import "./error-screen.pcss";

body {
    margin: 0;
}
