<div class="chat-card">
    <img class="chat-card__avatar" src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o=" width="300" alt="avatar"/>
    <div class="chat-card__content">
        <div class="chat-card__name">{{title}}</div>
        <div class="chat-card__last-message">{{content}}</div>
    </div>
    <div class="chat-card__info">
        <div class="chat-card__time">{{time}}</div>
        <div class="chat-card__sticker">{{unreadCount}}</div>
    </div>
</div>
