.navigation-link {
    text-decoration: none;
    align-items: flex-end;
    width: 100%;
    color: #999999;
}

.navigation-link:hover {
    transition: all 300ms ease-in-out;
    background-color: var(--second-background-color);
}
