<div class="chat-list-header">
    <div class="chat-list-header__profile-link-container">
        <a class="chat-list-header__profile-link">Profile ></a>
    </div>
    <label>
        <input class="chat-list-header__searchbar" name="chat-searchbar" placeholder="Search">
    </label>
</div>
