<div class="chat-list">
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
    {{> chat-card }}
</div>
