<div class="chat-card">
    <img class="chat-card__avatar" src="./assets/images/avatar.jpeg" width="300" alt="avatar"/>
    <div class="chat-card__content">
        <div class="chat-card__name">Iaroslav</div>
        <div class="chat-card__last-message">How’s it going?</div>
    </div>
    <div class="chat-card__info">
        <div class="chat-card__time">19:23</div>
        <div class="chat-card__sticker">2</div>
    </div>
</div>
