<link rel="stylesheet" href="../styles/styles.pcss">

<div class="profile-screen">
    <div class="profile-screen-content">
        <img class="profile-screen-content__avatar" src="../assets/images/avatar-default.jpeg" width="130" alt="default-avatar"/>
        <p class="profile-screen-content__user-name">Iaroslav</p>
        <div>
            <a>Go to main ></a>
        </div>
        <ul class="profile-screen-content__fields">
            <li class="profile-screen-content__field">
                <p class="profile-screen-content__field-name">Почта</p>
                <input class="profile-screen-content__input" name="chat-searchbar" placeholder="Your mail">
            </li>
            <li class="profile-screen-content__field">
                <p class="profile-screen-content__field-name">Логин</p>
                <input class="profile-screen-content__input" name="chat-searchbar" placeholder="Your login">
            </li>
            <li class="profile-screen-content__field">
                <p class="profile-screen-content__field-name">Имя</p>
                <input class="profile-screen-content__input" name="chat-searchbar" placeholder="Your name">
            </li>
            <li class="profile-screen-content__field">
                <p class="profile-screen-content__field-name">Фамилия</p>
                <input class="profile-screen-content__input" name="chat-searchbar" placeholder="Your surname">
            </li>
            <li class="profile-screen-content__field">
                <p class="profile-screen-content__field-name">Имя в чате</p>
                <input class="profile-screen-content__input" name="chat-searchbar" placeholder="Your chatname">
            </li>
            <li class="profile-screen-content__field">
                <p class="profile-screen-content__field-name">Телефон</p>
                <input class="profile-screen-content__input" name="chat-searchbar" placeholder="Your phone number">
            </li>
        </ul>
        <div class="profile-screen-content__actions">
            <button class="profile-screen-content__button">Изменить данные</button>
            <button class="profile-screen-content__button">Изменить пароль</button>
            <button class="profile-screen-content__button profile-screen-content__button_alert-color">Выйти</button>
        </div>
    </div>
</div>
