<link rel="stylesheet" href="../styles/styles.pcss">

<div class="sign-up-screen">
    <div class="sign-up-screen-content">
        <h1 class="sign-up-screen-content__title" >Sign Up</h1>
        <form class="fields-wrapper">
        <ul class="fields">
                <li class="fields__field">
                    <p class="fields__field-name">Mail</p>
                    <input class="fields__input" name="email" placeholder="Your mail">
                </li>
                <li class="fields__field">
                    <p class="fields__field-name">Login</p>
                    <input class="fields__input" name="login" placeholder="Your login">
                </li>
                <li class="fields__field">
                    <p class="fields__field-name">Name</p>
                    <input class="fields__input" name="first_name" placeholder="Your name">
                </li>
                <li class="fields__field">
                    <p class="fields__field-name">Surname</p>
                    <input class="fields__input" name="second_name" placeholder="Your surname">
                </li>
                <li class="fields__field">
                    <p class="fields__field-name">Phone number</p>
                    <input class="fields__input" name="phone" placeholder="Your phone number">
                </li>
            <li class="fields__field">
                <p class="fields__field-name">Password</p>
                <input class="fields__input" name="password" placeholder="Your phone number">
            </li>
            <li class="fields__field">
                <p class="fields__field-name">Password again</p>
                <input class="fields__input" name="password" placeholder="Your phone number">
            </li>
        </ul>
        <div class="actions">
            <button type="submit" class="actions__button actions__button_accept-color">Sigh Up</button>
            <button type="button" class="actions__button">Sign In</button>
        </div>
        </form>
        <div>
            <a class="navigation-link" href="/">Go to main ></a>
        </div>
    </div>
</div>
