<link rel="stylesheet" href="../styles/styles.pcss">

<div class="sign-up-screen">
    <div class="sign-up-screen-content">
        <h1 class="sign-up-screen-content__title" >Sign Up</h1>
        <ul class="profile-screen-content__fields">
                <li class="profile-screen-content__field">
                    <p class="profile-screen-content__field-name">Mail</p>
                    <input class="profile-screen-content__input" name="chat-searchbar" placeholder="Your mail">
                </li>
                <li class="profile-screen-content__field">
                    <p class="profile-screen-content__field-name">Login</p>
                    <input class="profile-screen-content__input" name="chat-searchbar" placeholder="Your login">
                </li>
                <li class="profile-screen-content__field">
                    <p class="profile-screen-content__field-name">Name</p>
                    <input class="profile-screen-content__input" name="chat-searchbar" placeholder="Your name">
                </li>
                <li class="profile-screen-content__field">
                    <p class="profile-screen-content__field-name">Surname</p>
                    <input class="profile-screen-content__input" name="chat-searchbar" placeholder="Your surname">
                </li>
                <li class="profile-screen-content__field">
                    <p class="profile-screen-content__field-name">Phone number</p>
                    <input class="profile-screen-content__input" name="chat-searchbar" placeholder="Your phone number">
                </li>
            <li class="profile-screen-content__field">
                <p class="profile-screen-content__field-name">Password</p>
                <input class="profile-screen-content__input" name="chat-searchbar" placeholder="Your phone number">
            </li>
            <li class="profile-screen-content__field">
                <p class="profile-screen-content__field-name">Password again</p>
                <input class="profile-screen-content__input" name="chat-searchbar" placeholder="Your phone number">
            </li>
        </ul>
        <div class="profile-screen-content__actions">
            <button class="profile-screen-content__button">Изменить данные</button>
            <button class="profile-screen-content__button">Изменить пароль</button>
            <button class="profile-screen-content__button profile-screen-content__button_alert-color">Выйти</button>
        </div>
    </div>
</div>
