<div class="error-screen">
    <h1 class="error-screen__title">Please be patient and we'll fix it.</h1>
    <a href="https://lifehacker.ru/oshibka-500/" target="_blank">
        <img class="error-screen__picture" src="../../assets/images/zhdun.png">
    </a>
    <h2 class="error-screen__title">For now, you can learn a little more about this error and have a good time.</h2>
    <p class="error-screen__title">Click on the Zhdun!</p>
    <div>
        <a class="navigation-link" href="/">Go to main ></a>
    </div>
</div>
