<div class="error-screen">
    <h1 class="error-screen__title">We don't know what you were looking for, but we definitely didn't find it.</h1>
    <a href="https://www.google.com/" target="_blank">
        <img class="error-screen__picture" src="../../assets/images/squint.png">
    </a>
    <h2 class="error-screen__title">Try to find it on Google.</h2>
    <p class="error-screen__title">Click on the Philip J. Fry!</p>
    <div>
        <a class="navigation-link" href="/">Go to main ></a>
    </div>
</div>
