<div class="sign-up-screen">
    <div class="sign-up-screen-content">
        <h1 class="sign-up-screen-content__title" >Sign In</h1>
        <form class="fields-wrapper">
        <ul class="fields">
          {{{loginField}}}
          {{{passwordField}}}
        </ul>
        </form>
        <div class="actions">
          {{{signInGoAction}}}
          {{{signUpAction}}}
        </div>
        </form>
        <div>
            <a class="navigation-link" href="/">Go to main ></a>
        </div>
    </div>
</div>
